.section {
    width: 756px;
    height: 348px;
    background-color: white;
    background-image: none;
    position: absolute;
    bottom: 0;

    p {
        background-image: none;
        font-size: 20px;
        font-family: 'Belleza';
        font-style: normal;
        margin-top: 58px;
        margin-left: 93px;
        max-width: 12vw;
        
    }
}
