.main{
    display: flex;   
    
}

.text {
    background-image: none;
    font-family: "Belleza";
    font-size: 96px;
    font-weight: 400;
    max-width: 30vw;
    margin: 93px;
    position: absolute;
}
